<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Run in full-screen mode. -->
        <meta name="apple-mobile-web-app-capable" content="yes">
 
        <!-- Make the status bar black with white text. -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
 
        <!-- Customize home screen title. -->
        <meta name="apple-mobile-web-app-title" content="Web App">
 
        <!-- Disable phone number detection. -->
        <meta name="format-detection" content="telephone=no">
 
        <!-- Set viewport. -->
        <meta name="viewport" content="initial-scale=1">
 
        <!-- Prevent text size adjustment on orientation change. -->
        <style>html { -webkit-text-size-adjust: 100%; }</style>
 
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/leaflet-0.7.3/css")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="skin-blue wysihtml5-supported  pace-done">

    <header class="header">
        <a href="#" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Risk Analytics
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas" style="min-height: 2008px;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->

                <!-- search form -->


                <div class="sidebar-menu">
                    <div class="btn-group-vertical" style="margin-left:20px;margin-top:2px">
                      @*  <label class="radio" style="border-top: 1px solid #dbdbdb; margin-left: 20px">
                            <i class="fa fa-bar-chart-o"></i>
                            <input type="radio" id="rd_1" name="rd" value="Floods">Floods
                        </label>
                        <label class="radio" style="border-top: 1px solid #dbdbdb; margin-left: 20px">
                            <i class="fa fa-bar-chart-o"></i>
                            <input type="radio" id="rd_2" name="rd" value="Earth">Earth Quake
                        </label>
                        <label class="radio" style="border-top: 1px solid #dbdbdb; margin-left: 20px">
                            <i class="fa fa-bar-chart-o"></i>
                            <input type="radio" id="rd_3" name="rd" value="Fire">Fire
                        </label>*@

                        <button type="button" class="btn btn-primary" style="margin-left:20px;margin-top:2px!important" id="btnFloods">Floods</button>
                        <button type="button" class="btn btn-primary" style="margin-left:20px;margin-top:2px !important" id="btnEarth">Earth Quake</button>
                        <button type="button" class="btn btn-primary" style="margin-left:20px;margin-top:2px !important" id="btnFire">Fire</button>
                        <button type="button" class="btn btn-primary" style="margin-left:20px;margin-top:2px !important" id="btnAll">All</button>
                    </div>
                    <div style="border:1px solid">
                   Total Exposure:<span id="spnExp" style="color:red"></span></div>
                </div>
                <div class="small-box bg-aqua">
                    <div class="inner">
                       0-100k Dollars
                        <br />
                        <div>
                       <i class="fa fa-circle text-success"></i>
                        <span style="font-size:x-large;font-weight:bold"id="pExpValueRange1"> </span>     <br />
                            (Total Customers: <span style="font-size:small" id="noRange1"></span>)                       
                        
                            </div>
                        <p>% of Total:<span id="perExpRange1"></span></p>
                    </div>                    
                    
                </div>
                <div class="small-box bg-red">
                    <div class="inner">
                      100-1M Dollars
                        <br />
                        <div>
                       <i class="fa fa-circle text-success"></i>
                        <span style="font-size:x-large;font-weight:bold"id="pExpValueRange2"></span> <br />  
                            (Total Customers: <span style="font-size:small" id="noRange2"></span>)                        
                        
                            </div>
                        <p>% of Total:<span id="perExpRange2"></span></p>
                    </div>                    
                    
                </div>
                <div class="small-box bg-green">
                    <div class="inner">
                       1M-100M Dollars
                        <br />
                        <div>
                       <i class="fa fa-circle text-success"></i>
                        <span style="font-size:x-large;font-weight:bold"id="pExpValueRange3"></span>      <br />
                          (Total Customers: <span style="font-size:medium"  id="noRange3"></span>)                                                                    
                        
                            </div>
                        <p>% of Total:<span id="perExpRange3"></span></p>
                    </div>                    
                    
                </div>

            </section>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()
    </div>
    <!-- ./wrapper -->
    <script src="~/Scripts/excanvas.js"></script>
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>
