﻿<aside class="right-side">
    <!-- Content Header (Page header) -->
        <!-- Main content -->
    <section class="content">
        <div id="tabs">
            <ul>
                <li><a href="#weathermap">Map</a></li>
                <li><a href="#charts">Charts</a></li>

            </ul>

            <div id="weathermap"></div>
            <div id="charts">

                        <div class="row">
                            <div class="col-md-6">
                                <div id="myChart" style="height:200px"></div>
                            </div>                        

                        <div class="col-md-4">
                            <div id="myChart1" style="height:200px"></div>
                        </div>
                        </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div id="myCharts2" style="height:150px"></div>
                        </div>
                    </div>

                    </div>
        </div>

    </section>
    <!-- /.content -->
</aside>

@section Scripts
{
    @Scripts.Render("~/bundle/leaflet")
    @Scripts.Render("~/bundle/app")

}
